# Ignorar a virtualenv local criada pelo Poetry
.venv/

# Ignorar arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar configurações locais do VSCode (se usar)
.vscode/

# Ignorar checkpoints do Jupyter
*.ipynb_checkpoints

# Ignorar outros arquivos temporários comuns
*.log
*.sqlite3
.DS_Store
.env
